<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BLOG</title>
    <link href="https://fonts.googleapis.com/css2?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
<div class="wrapper">
    <div class="top">
        <div class="title"><h1>My Blog</h1></div>
    </div>

    <div class="content">
        <div class="card">
            {% for post in posts: %}
            {% if post['id'] == 1: %}
            <h2>{{ post['title'] }}</h2>
            <p class="text">{{post['subtitle']}}</p>
            {% endif %}
            {% endfor %}
            <a href="{{ url_for('get_post', num=1) }}">Read</a>
        </div>
    </div>

    <div class="content">
        <div class="card">
            {% for post in posts: %}
            {% if post['id'] == 2: %}
            <h2>{{ post['title'] }}</h2>
            <p class="text">{{post['subtitle']}}</p>
            {% endif %}
            {% endfor %}
            <a href="{{ url_for('get_post', num=2) }}">Read</a>
        </div>
    </div>

</div>
</body>
<footer>
    <p>Made with ♥️ in London.</p>
</footer>
</html>